In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ene = pd.read_csv('energydata_complete.csv')

In [3]:
ene.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [5]:
column_names = {'date': 'date', 'Appliances':'appliances', 'lights':'lights', 
                'T1':'temp_kitchen', 'RH_1':'humid_kitchen', 'T2':'temp_liv_room', 'RH_2':'humid_liv_room', 
                'T3':'temp_laundry', 'RH_3':'humid_laundry', 
                'T4': 'temp_office', 'RH_4':'humid_office', 'T5': 'temp_bathroom', 'RH_5':'humid_bathroom', 
                'T6': 'temp_out_north', 'RH_6':'humid_out_north',
               'T7': 'temp_ironing', 'RH_7':'humid_ironing', 'T8': 'temp_teen_room', 'RH_8':'humid_teen_room', 
                'T9': 'temp_parent_room', 'RH_9':'humid_parent_room',
               'T_out':'temp_out', 'Press_mm_hg':'press_mm_hg', 'RH_out':'humid_out', 
                'Windspeed':'windspeed', 'Visibility':'visibility', 'Tdewpoint':'tdewpoint',
               'rv1':'rv1', 'rv2':'rv2'}

In [6]:
ene = ene.rename(columns=column_names)
ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               19735 non-null  object
 1   appliances         19735 non-null  int64
 2   lights             19735 non-null  int64
 3   temp_kitchen       19735 non-null  float64
 4   humid_kitchen      19735 non-null  float64
 5   temp_liv_room      19735 non-null  float64
 6   humid_liv_room     19735 non-null  float64
 7   temp_laundry       19735 non-null  float64
 8   humid_laundry      19735 non-null  float64
 9   temp_office        19735 non-null  float64
 10  humid_office       19735 non-null  float64
 11  temp_bathroom      19735 non-null  float64
 12  humid_bathroom     19735 non-null  float64
 13  temp_out_north     19735 non-null  float64
 14  humid_out_north    19735 non-null  float64
 15  temp_ironing       19735 non-null  float64
 16  humid_ironing      19735 non-null  float64
 17  temp_teen_room     19735 non-null  float64
 18  humid_teen_room    19735 non-null  float64
 19  temp_parent_room   19735 non-null  float64
 20  humid_parent_room  19735 non-null  float64
 21  temp_out           19735 non-null  float64
 22  press_mm_hg        19735 non-null  float64
 23  humid_out          19735 non-null  float64
 24  windspeed          19735 non-null  float64
 25  visibility         19735 non-null  float64
 26  tdewpoint          19735 non-null  float64
 27  rv1                19735 non-null  float64
 28  rv2                19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [8]:
linear_model = LinearRegression()

In [9]:
X = ene[['temp_liv_room']]
y = ene[['temp_out_north']]

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=42)

linear_model.fit(Xtrain,ytrain)

LinearRegression()

In [10]:
predict = linear_model.predict(Xtest)

In [11]:
print(r2_score(ytest, predict))

0.6385443715749319

In [12]:
from sklearn.preprocessing import MinMaxScaler

n_ene = ene.drop(['date', 'lights'], axis=1)
scaler = MinMaxScaler()
norm_ene = pd.DataFrame(scaler.fit_transform(n_ene), columns=n_ene.columns)

In [13]:
Xn = norm_ene.drop(['appliances'], axis=1)
yn = norm_ene[['appliances']]

Xtrain, Xtest, ytrain, ytest = train_test_split(Xn, yn, test_size=0.3, random_state=42)

In [14]:
linear_model.fit(Xtrain,ytrain)

LinearRegression()

In [15]:
predict = linear_model.predict(Xtest)

In [16]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

mae = mean_absolute_error(ytest, predict)
mae

0.05013362397742957

In [17]:
rss = np.sum(np.square(ytest - predict))
round(rss, 2)

appliances    45.35
dtype: float64

In [18]:
rmse = np.sqrt(mean_squared_error(ytest, predict))
round(rmse, 3)

0.088

In [19]:
coef_det = r2_score(ytest, predict)
round(coef_det,2)

0.15

In [20]:
def weights(model, feat, col_name) :
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = [ 'Features' , col_name]
    weights_df[col_name].round( 3 )
    return weights_df

In [21]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(Xtrain, ytrain)

predict_r = ridge_reg.predict(Xtest)

In [22]:
rmse = np.sqrt(mean_squared_error(ytest, predict_r))
round(rmse, 3)

0.088

In [23]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha= 0.001 )
lasso_reg.fit(Xtrain, ytrain)

predict_l = lasso_reg.predict(Xtest)

In [24]:
rmse = np.sqrt(mean_squared_error(ytest, predict_l))
round(rmse, 3)

0.094

In [25]:
model_weights = weights(lasso_reg, Xtrain, 'Lasso_Weight' )

In [26]:
model_weights

             Features  Lasso_Weight
0           humid_out     -0.049557
1     humid_teen_room     -0.000110
2        temp_kitchen      0.000000
3           tdewpoint      0.000000
4          visibility      0.000000
5         press_mm_hg     -0.000000
6            temp_out      0.000000
7   humid_parent_room     -0.000000
8    temp_parent_room     -0.000000
9      temp_teen_room      0.000000
10      humid_ironing     -0.000000
11                rv1     -0.000000
12       temp_ironing     -0.000000
13     temp_out_north      0.000000
14     humid_bathroom      0.000000
15      temp_bathroom     -0.000000
16       humid_office      0.000000
17        temp_office     -0.000000
18      humid_laundry      0.000000
19       temp_laundry      0.000000
20     humid_liv_room     -0.000000
21      temp_liv_room      0.000000
22    humid_out_north     -0.000000
23                rv2     -0.000000
24          windspeed      0.002912
25      humid_kitchen      0.017880